.buy-button {
    width: 202px;
    height: 80px;

    text-align: center;

    border: 0;

    background: @color-accent;
    color: @color-bg;
    font-size: @fs-button;
    cursor: pointer;

    &:active {
        padding-top: 4px;
    }
}

.set-aside-button {
    position: relative;

    display: inline-block;

    height: 25px;
    line-height: 25px;

    padding-left: 32px;

    background: url('../img/heart.png') no-repeat;
    font-size: @fs-normal;
    color: @color-selector-border;
    text-decoration: underline;
    cursor: pointer;
}