@fixed-column-height: 140px;

.footer {
    
    width: 100%;
    line-height: 24px;

    padding: 56px 0 100px 0;

    border-top: @border-section;
    background: @color-section-bg;
    font-size: @fs-small;

    &__wrapper {
        width: 100%;
        max-width: @max-w;

        margin: auto;
        padding: 0 @content-padding;
    }

    &__links {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        padding-bottom: 64px;

        @media @between-phone-desktop {
            flex-wrap: wrap;
            justify-content: left;
        }

        @media @less-than-phone {
            flex-direction: column;
        }
    }

    &__group {
        flex: 1;

        @media @between-desktop-large {
            flex: 0.6;
        }

        @media @at-most-tablet {
            padding-bottom: 32px;
            flex-basis: 50%;
        }

        &__header {
            margin: 0 0 12px;

            font-size: @fs-normal;
            font-weight: bold;
        }

        &__row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__column {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            line-height: 26px;

            &_first {
                width: 175px;
            }

            &_second {
                width: 190px;
            }
        }

        &__link {
            color: black;
            text-decoration: none;
        }
    }

    &__badges {
        flex: 1.1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: @fixed-column-height;

        @media @at-most-phone {
            margin-bottom: 32px;
        }
    }

    &__badge {
        padding-left: 60px;

        background-repeat: no-repeat;

        &_delivery {
            background-image: url(../img/delivery.png);
        }

        &_trial {
            background-image: url(../img/trial.png);
        }       
        
        &_deals {
            background-image: url(../img/deals.png);
        }
    }



    &__social-media {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: @fixed-column-height;

        @media @between-tablet-desktop {
            flex-basis: 50%;
        }

        @media @between-phone-tablet {
            flex-basis: 25%;
        }

        @media @less-than-phone {
            flex-direction: row;

            height: auto;
        }
    }

    &__social-link {
        width: 34px;
        height: 34px;

        &_facebook {
            background-image: url('../img/facebook.png');
        }
        
        &_twitter {
            background-image: url('../img/twitter.png');
        }

        &_instagram {
            background-image: url('../img/instagram.png');
        }
    }

    &__summary {
        border-top: @border-section;

        padding: 28px 0;
    }

}