.header {
    display: flex;
    flex-direction: row;

    width: 100%;
    max-width: @max-w;
    height: 87px;
    line-height: 49px;

    padding: 19px @content-padding;

    font-size: @fs-header;
    font-weight: bold;
    color: @color-accent;

    &__title {
        flex: 2;

        text-align: left;
        font-family: 'Consolas', 'Roboto', sans-serif;
    }

    &__logo-wrapper {
        flex: 1;

        text-align: center;
    }

    &__contacts {
        flex: 2;

        text-align: right;
    }
}