@pd-info-line: 14px;

.item {

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    
    padding-top: 20px;

    &__info {
        flex: 1;
    }

    &__info-title {
        line-height: @fs-title;

        margin: 0 0 @pd-info-line 0;

        font-weight: bold;
        font-size: @fs-title;
    }

    &__info-description {
        margin: 0 0 @pd-info-line 0;
        font-size: @fs-normal;
    }

    &__info-price {

        font-weight: bold;
        font-size: @fs-title;
        color: @color-accent;
    }

    &__info-line {
        padding: @pd-info-line 0 @pd-info-line;
    }

    &__preview-holder {
        flex: 1.1;

        min-width: 500px;

        margin: 0;
        padding-right: 64px;
    }

    &__preview {
        width: 100%;
    }
    

}