@pd-info-line: 14px;

.item {

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    
    padding-top: 20px;

    @media @at-most-tablet {
        flex-direction: column;
    }

    &__info {
        flex: 1;

        @media @between-desktop-large {
            flex: 1.5;
        }
    }

    &__controls {
        display: flex;
        flex-direction: column;

        @media @between-phone-desktop {
            flex-direction: row;
        }
    }

    &__buttons {
        @media @between-phone-desktop {
            padding-left: @pd-info-line * 2;
            padding-top: 24px;
        }
    }

    &__info-title {
        line-height: @fs-title;

        margin: 0 0 @pd-info-line 0;

        font-weight: bold;
        font-size: @fs-title;
    }

    &__info-description {
        margin: 0 0 @pd-info-line 0;
        font-size: @fs-normal;
    }

    &__info-price {
        font-weight: bold;
        font-size: @fs-title;
        color: @color-accent;
    }

    &__info-line {
        padding: @pd-info-line 0 @pd-info-line;
    }

    &__preview-holder {
        flex: 1.1;

        margin: 0;
        padding-right: 64px;

        text-align: center;

        @media @at-most-tablet {
            padding-right: 0;
        }
    }

    &__preview {
        width: 100%;
    }
    

}