@navigation-height: 50px;

.navigation {
    width: 100%;
    height: @navigation-height;

    border-top: @border-section;
    border-bottom: @border-section;

    text-align: center;

    background: @color-section-bg;

    @media @at-most-phone {
        height: @navigation-height * 2;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 100%;
        max-width: @max-w;
        height: 100%;

        margin: auto;
        padding: 0 @content-padding;

        @media @at-most-phone {
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    &__links {
        line-height: @navigation-height;

        text-align: left;

        white-space: nowrap;
        overflow: none;
    }
    

    &__link-wrapper {
        display: inline-block;

        padding-right: 20px;

        @media @at-most-phone {
            padding-right: 15px;

            &:last-child {
                padding-right: 0;
            }
        }
    }

    &__link {
        display: inline-block;

        &_current {
            color: @color-text;
            font-weight: bold;
            text-decoration: none;
        }
    }

    &__search-wrapper {
        width: 276px;
        padding: 6px 0;

        @media @at-most-phone {
            width: 313px;
        }
    }
}