.search-form {
    position: relative;

    width: 100%;
    height: 38px;

    border: @border-section;

    background: @color-bg;

    &__text-field {
        width: 100%;
        height: 100%;

        padding-right: 32px;
        padding-left: 12px;

        border: 0;
    }

    &__submit-button {
        position: absolute;
        right: 0;
        top: 0;

        width: 32px;
        height: 36px;

        border: 0;

        background: url('../img/search.png') transparent no-repeat;
        background-position: 8px 10px;
        cursor: pointer;
    }
}