.selector {
    &__title {
        font-size: @fs-normal;
    }

    &__button-holder {
        padding: 6px 0;
    }

    &__button {
        width: 64px;
        height: 64px;
        line-height: 46px;

        border: 2px solid @color-secondary;
        border-width: 2px;

        background: @color-bg;
        font-size: @fs-title;
        cursor: pointer;

        &_current {
            border-color: @color-accent;
        }
    }
}